body{
    

    background-image:url('as.jpg');
    background-size: 100% 100%;
}
a.nav-link{
    font-family: 'Molengo', sans-serif;

}
h1.text-center {
color:black;
font-family: 'Sniglet', cursive;
font-size:40px;
}
p.container.ad{
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
    font-weight:500;
}
 #spc{
 

color:black;
margin-right: 0px;
margin-left: 0px;
}

}
.container-fluid {
    width: 100%;
    
    margin-right: 0px;
    
}
.fag{
    background-image:url('bg.jpg');
    background-size: 100% 100%;
}
.ras{
    background-image: url('cu.jpg');
    background-size: 100% 100%;
}
#arm{
    color:white;
}
#fd{
    color:white;
}
 div h3{
    color:white;
}
